<nav class="navbar border-bottom border-warning fixed-top navbar-dark navbar-expand-sm">
  <div class="container">
    <a routerLink="/" class="navbar-brand">SZR Ugao</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#topnav" >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="topnav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="/"  class="nav-link">
          <button class="btn btn-link text-light " >Pocetna</button></a></li>
        <li class="nav-item"><a routerLink="/galerija" class="nav-link">
          <button class="btn btn-link text-light">Galerija</button></a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="pewpew">
  <router-outlet></router-outlet>
</div>

<footer><div id="futer" class="border-top border-warning">
</div></footer>
