<div class="container">
  <div class="card">
    <div class="card-body">
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="korisnickoime"> Korisnicko ime :</label>
          <input type="text" id="korisnickoime" name="korisnickoime" class="form-control" [(ngModel)]="korisnickoime"  >
        </div>
        <div class="form-group">
          <label for="sifra"> Sifra :</label>
          <input type="password" id="sifra" name="sifra" class="form-control" [(ngModel)]="sifra"  >
        </div>
        <a href="/"><button (click)="registracija()" class="btn btn-primary btn-lg">Prijavi se</button></a>
      </form>
    </div>
  </div>
</div>